<div class="row product-list-wrap">
	<% @products.each do |product| %>
		<div class="col-xs-6 col-md-3">
			<div class="product-list">
				<%= link_to product_path(product) do %>
					<% if product.photo.present? %>
						<%= image_tag(product.photo.image.thumb.url, class: "thumbnail") %>
					<% else %>
						<%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
					<% end %>
				<% end %>
				<div class="item-footer">
					<div class="product-intro">
						<%= product.title %> 	
					</div>
					<div class="product-price">
						$ <%= product.price %>				
					</div>	

				</div>
				<div class="mask">
					<% if product.quantity > 0 %>
						<%= link_to("加入購物車", add_to_cart_product_path(product), method: :post, class: "add2cart") %>
					<% else %>
						<span class="sorry">已銷售一空，無法購買</span>
					<% end %>

					<%= link_to("查看商品", product_path(product), class: "view-detail") %>					
				</div>


			</div>
		</div>
	<% end %>
</div>