<!-- 後台 -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Artstore 後台</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	
	<%= csrf_meta_tags %>
</head>
<body class="backstage-style">
<%= content_for :handwrite_javascript do %>
	<script>
		$('.dropdown-toggle').dropdown()
	</script>
<% end %>

	<%= render "common/navbarbackstage" %>
	<div class="container shadow-body">
		
		<%= notice_message %>
		<div class="row flex-wrap ">
			<div class="col-md-2">
				<div class="title">Main Menu</div>
				<ul class="nav nav-pills nav-stacked">
					<li>
						<%= link_to admin_products_path do %>
							<i class="fa fa-heart"></i>Products
						<% end %>
					</li>
					<li>
						<%= link_to admin_users_path do %>
							<i class="fa fa-user"></i>Users
						<% end %>
					</li>
				</ul>
			</div>
			<div class="col-md-10">
				<%= yield %>
			</div>
		</div>
	</div>



<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :handwrite_javascript %>

</body>
</html>