<!DOCTYPE html>
<html>
<head>
  <!-- <title>Artstore</title> -->
  <%= render_page_title_tag %>
  <%= render_page_description_meta_tag %>
  <%= render_page_keywords_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= csrf_meta_tags %>

</head>
<body class="frontstage-style">

<%= content_for :handwrite_javascript do %>
	<script>
		$('.dropdown-toggle').dropdown()
	</script>
<% end %>

	<%= render "common/navbar" %>
	<div class="container shadow-body">
		
		<%= notice_message %>

		<%= yield %>	
	</div>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :handwrite_javascript %>
	
</body>
</html>
