<!DOCTYPE html>
<html>
<head>
  <title>Artstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body class="frontstage-style">

<%= content_for :handwrite_javascript do %>
	<script>
		$('.dropdown-toggle').dropdown()
	</script>
<% end %>

	<%= render "common/navbar" %>
	<div class="container shadow-body">
		
		<%= notice_message %>

		<%= yield %>	
	</div>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :handwrite_javascript %>
	
</body>
</html>
